<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hcmus.android.gallery1">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GalleryOne">
        <activity android:name=".ui.collection.ViewCollectionActivity2" />

        <activity
            android:name=".ui.collection.ViewCollectionActivity"
            android:configChanges="uiMode" />

        <!-- Splash screen -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/Theme.GalleryOne.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actual main activity -->
        <activity
            android:name=".ui.main.Activity2"
            android:configChanges="uiMode|locale|keyboard|orientation|screenSize" />

        <!-- Image Viewer -->
        <activity
            android:name=".ui.image.ViewImageActivity"
            android:configChanges="uiMode">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="image/*"
                    android:scheme="content" />
            </intent-filter>
        </activity>

        <!-- Image Editor -->
        <activity android:name=".ui.edit.EditImageActivity" />

    </application>

</manifest>